.mostPopularCategoryChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 1920px;
  height: 626px;
}
.categoriesForYou {
  color: var(--primary-600);
}
.recommendedCategoriesForContainer1 {
  line-break: anywhere;
  width: 100%;
}
.basedOnYour,
.recommendedCategoriesForContainer {
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.recommendedCategoriesForContainer {
  top: 97.5px;
  left: 240px;
  font-size: var(--display-size);
  line-height: 72px;
  font-weight: 600;
  width: 915px;
  height: 70.2px;
}
.basedOnYour {
  top: 183.3px;
  left: 250px;
  line-height: 28px;
  color: var(--gray-500);
  width: 591px;
  height: 27.3px;
}
.pennibIcon {
  position: relative;
  width: 38px;
  height: 38px;
}
.design {
  position: relative;
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  width: 160px;
  flex-shrink: 0;
}
.pennibParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.arrowuprightIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.arrowuprightWrapper,
.frameParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.arrowuprightWrapper {
  border-radius: var(--br-981xl);
  background-color: var(--secondary-500);
  box-shadow: -4px 4px 20px rgba(242, 206, 18, 0.12);
  align-items: flex-start;
  padding: var(--padding-3xs);
}
.frameParent {
  align-items: center;
  gap: var(--gap-7xs);
}
.mostPopularCategoryInner {
  position: absolute;
  top: 257.4px;
  left: 426px;
  border-radius: var(--br-3xl);
  background-color: var(--gray-white);
  box-shadow: 0 12px 48px rgba(255, 194, 122, 0.26);
  border: 2px solid var(--secondary-500);
  box-sizing: border-box;
  height: 78.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  color: var(--color-black);
}
.mostPopularCategory {
  position: absolute;
  top: 1250px;
  left: 1px;
  width: 1920px;
  height: 626px;
  text-align: left;
  font-size: var(--body-large-400-size);
  color: var(--color-gray-100);
  font-family: var(--body-large-400);
}
